@model ContactoDTO
<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Contacta conmigo</h3>


        <div class="row mt-4">
            <div class="col-sm-6 offset-3">
                <form asp-controller="Contacto" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="mb-3">
                        <label asp-for="Email" class="col-md-2"></label>
                        <input asp-for="Email" class="form-control" placeholder="Ingresa tu email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Asunto" class="col-md-2"></label>
                        <input asp-for="Asunto" class="form-control" placeholder="Asunto" />
                        <span asp-validation-for="Asunto" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Cuerpo" class="col-md-2"></label>
                        <textarea asp-for="Cuerpo" class="form-control" placeholder="Asunto"></textarea>
                        <span asp-validation-for="Cuerpo" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success w-100 btn-lg">Acceder <i class="bi bi-arrow-right-circle-fill"></i></button>
                            <p><a asp-action="Registro">Registrarse como un nuevo usuario?</a></p>
                            <p><a asp-action="OlvidoPassword">Olvidaste tu contraseña?</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
