@model HomeDTO


<div class="card bg-dark text-white">
    <div class="card-body">
        <h3 class="card-title text-center">@Model.Name</h3>
        <h3 class="card-title text-center">Fullstack developer</h3>
        <div class="row mt-5">
            <div class="col-6">
                <p class="offset-4">
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-linkedin"></i>
                </p>
                <img class="offset-3 h-75" src="images/yo.jpg" />
            </div>
            <div class="col-6">
                <h5 class="offset-1">Acerca de mi</h5>
                <p>@Model.Description</p>

            </div>
        </div>
    </div>
</div>
